/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */
header {
  background: rgb(125, 100, 147);
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

/* Main styles */
main {
  padding: 104px 0;
}

/* Section styles */
section {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 10px;
}

section p {
  margin: 10px 0;
}

section a {
  text-decoration: none;
  color: rgb(125, 100, 147);
}

section a:hover {
  text-decoration: underline;
}

section a i {
  color: blue;
}

section ul {
  margin-left: 20px;
}

#companies {
  text-align: center;
}

.contact-info {
  text-align: center;
}

/* Coming soon and quote styles */
#dev-note, .quote {
  text-align: center;
  font-size: 24px;
}
#dev-note {
  background-color: yellow;
}

/* Div styles */
.company, .job, .school {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company {
  display: inline-block;
  width: 500px;
}

.company img {
  width: 100%;
}

.hero {
  background-image: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  color: rgb(125, 100, 147);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}

.social-icons {
  padding-bottom: 10px;
}

/* Footer styles */
footer {
  background: rgb(125, 100, 147);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer i {
  margin: 5px;
  font-size: 24px;
}

footer i:hover {
  color: #f4f4f4;
}