/* Reset some default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  background-color: #f2eff4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* Header styles */
header {
  background: #7d6493;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
}

/* Nav styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Main styles */
main {
  padding: 109px 0 0;
}

/* Section and article styles */
section, article {
  background: #fff;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2, article h2 {
  margin-bottom: 10px;
}

section p, article p {
  margin: 10px 0;
}

section a, article a {
  text-decoration: none;
  color: #7d6493;
}

section a:hover, article a:hover {
  text-decoration: underline;
}

section a i, article a i {
  color: blue;
}

section ul, article ul {
  margin-left: 20px;
}

#companies {
  text-align: center;
}

#contact-info {
  text-align: center;
}

aside {
  text-align: center;
}

aside.quote {
  font-size: 24px;
  padding: 0 20px 20px 20px;
}

#dev-note {
  background-color: #7d6493;
  color: #fff;
  text-align: center;
  font-size: 24px;
}

/* Div styles */
.company, .job, .school {
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company {
  display: inline-block;
  min-width: 300px;
  max-width: 600px;
}

.company img {
  width: 100%;
}

.hero {
  background-image: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 400px;
  background-repeat: no-repeat;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons i {
  color: #7d6493;
  margin: 0.5rem 0.5rem 0;
  font-size: 24px;
}

.social-icons i:hover {
  color: #705a85;
}

/* Footer styles */
footer {
  background: #7d6493;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
}

.underline {
  text-decoration: underline;
}