/* Table of Contents
 1. Variables
 2. Global Styles
 3. Typography
 4. Buttons
 5. Layout: Body, Header, Footer
 6. Components: Hero, Section, Card, Quote
 7. Media Queries
*/

/* 1. Variables */
    :root {
        --dark: #000a0a;
        --gray: #3b4545;
        --light: #f6ffff;
        --white: #fff;
        --main: #008080;
        --accent: #00f6f6;

        --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

/* 2. Global Styles */
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

/* 3. Typography */
    body {
        color: var(--gray);
        font-family: 'Roboto Slab', sans-serif;
        line-height: 1.6;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Montserrat, sans-serif;
        color: var(--dark)
    }

    h1 {font-size: 2.5rem;}
    h2 {font-size: 2rem;}
    h3 {font-size: 1.75rem;}
    h4 {font-size: 1.5rem;}
    h5 {font-size: 1.25rem;}
    h6 {font-size: 1rem;}

/* 4. Buttons */
    .social__link {
        color: var(--dark);
        text-decoration: none;
    }

    .social__icon {
        font-size: 1.5rem;
        margin: 1rem;
    }

    .social__icon:hover {
        color: var(--main);
    }

    .button {
        background-color: var(--main);
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        color: var(--white);
        display: inline-block;
        padding: .75rem 1.5rem;
        text-decoration: none;
    }

    .button:hover {
        scale: 1.05;
        transition: transform 0.2s ease-in-out;
    }

    .button:focus, .menu__link:focus {
        outline: 2px dashed var(--accent);
        outline-offset: 2px;
    }

/* 5. Layout: Body, Header, Footer */
    .body {
        background-color: var(--light);
        text-align: center;
    }

    .header {
        align-items: center;
        background-color: var(--main);
        display: flex;
        justify-content: center;
        padding: 1rem;
        position: fixed;
        width: 100%;
    }

    .header__title {
        color: var(--white);
    }

    .menu__list {
        margin: 0 1rem;
    }

    .menu__item, .footer-menu__item {
        display: inline;
        margin: 1rem;
    }

    .menu__link {
        color: var(--white);
        text-decoration: none;
    }

    .menu__link:hover, .menu__link:focus {
        color: var(--accent);
        transition: color 0.2s ease-in-out;
    }

    .main {
        padding: 7.6rem 0 0;
    }

    .footer {
        color: var(--dark);
        padding: 1rem;
        text-align: center;
    }

    .footer__link {
        color: var(--main);
        text-decoration: none;
    }

    .footer__link:hover {
        text-decoration: underline;
    }

    .footer-menu__link {
        color: var(--dark);
        text-decoration: none;
    }

    .footer-menu__link:hover {
        color: var(--main);
    }

/* 6. Components: Hero, Section, Card, Quote */
    .hero {
        align-items: center;
        color: var(--dark);
        display: flex;
        justify-content: center;
        min-height: 25rem;
        padding: 2rem;
    }

    .hero__title {
        font-size: 3rem;
    }

    .section {
        background-color: var(--white);
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        margin: 1rem 10% 0;
        padding: 1rem 10%;
    }
    
    .section + .section {
        margin-top: 1rem;
    }
    
    .section:first-child {
        margin-top: 0;
    }
    
    .section:last-child {
        margin-bottom: 0;
    }

    .section__list, .card__list {
        margin: 1rem;
    }

    .section__link {
        color: var(--main);
        text-decoration: none;
    }

    .section__link:hover, .section__link:focus {
        text-decoration: underline;
    }

    .card {
        margin: 1rem;
    }

    .resume__container {
        text-align: left;
    }

    .quote {
        font-family: Merriweather, serif;
        color: var(--dark);
        margin: 1rem 10% 0;
    }

/* 7. Media Queries */
    @media (max-width: 768px) {
        .hero__title {
            font-size: 2rem;
        }

        .section {
            margin: 1rem 5%;
            padding: 1rem 5%;
        }
    }

    @media (max-width: 480px) {
        .header__image {
            width: 25rem;
        }
        
        .footer {
            padding: 0.5rem;
            font-size: 0.875rem;
        }

        .section {
            margin: 0.5rem 2%;
            padding: 0.5rem 2%;
        }

        .card {
            margin: 0.5rem;
        }
    }